#btnGoHome{
    background: linear-gradient(90deg, #696969 0%, #696969 100% );
    margin-bottom: 2.5rem;
}

#btnGoHome:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(105, 105, 105, 0.5 );
    transition: transform 150ms;
    transform: scale(1.03);

    
}

.h1{
    margin-bottom: 4rem;
}


@media (max-width: 767.98px) {
    .escolha-container{
        min-width: 40rem;
        
    }

    h1{
        font-size: 3rem;
        color:#f1f1f1;
        margin-bottom: 5rem;
    }
    
    h2{
        font-size: 3rem;
        margin-bottom: 4rem;
    }

    #progressText, .hud-prefix{
        font-size: 3rem;
    }
    p{
        font-size: 2rem;
    }

    .btn{
        font-size: 2rem;
    }
}